:root {
  --green: #5CBCA0;
  --white: #ffffff;
  --black: #000000;
  --lightaquamarine: #d3f6ff;
  --darkaquamarine: #153C4E;
}

@font-face {
  font-family: 'print_clearlyregular';
  src: url('PrintClearly-webfont.eot');
  src: url('PrintClearly-webfont.eot?#iefix') format('embedded-opentype'),
    url('PrintClearly-webfont.woff2') format('woff2'),
    url('../Assets/Fonts/PrintClearly-webfont.woff') format('woff'),
    url('PrintClearly-webfont.ttf') format('truetype'),
    url('PrintClearly-webfont.svg#print_clearlyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'print_boldregular';
  src: url('PrintBold-webfont.eot');
  src: url('PrintBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('PrintBold-webfont.woff2') format('woff2'),
    url('../Assets/Fonts/PrintBold-webfont.woff') format('woff'),
    url('PrintBold-webfont.ttf') format('truetype'),
    url('PrintBold-webfont.svg#print_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  color: var(--fontColor);
  font-family: 'print_clearlyregular';
}

body {
  background: var(--bg);
}

nav {
  overflow: hidden;
  background-color: #222;
}

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: red;
}

nav button {
  float: left;
  text-align: center;
  vertical-align: bottom;
}

nav button:hover {
  background-color: var(--colAqua);
}

.aboutMe {
  text-align: center;
  font-family: 'print_boldregular';
}

.sectionHeaders {
  text-align: center;
}

.subHeaders {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  padding: 1000px 10px 10px 10px;
}

.skillSet {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

ul {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  padding: 1025px 10px 10px 10px;
}

.headerBlock {
  float: left;
  font-size: 20px;
  position: relative;
}

#projectBlock {
  clear: both;
  display: inline-block;
  width: auto;
  padding: 10px 10px 10px 10px;
  left: 28.7%;
  transform: translate(-32.5%, 0);
  position: relative;
  text-align: center;
}

#imageBlock {
  clear: both;
  display: inline-block;
  position: relative;
  width: auto;
  padding: 1px 1px 1px 1px;
}

/* .list { //For Classes
    list-style: square;
  }
*/
/* #msg { //For IDs
    font-family: monospace;
  }
*/
.theme-light {
  --bg: var(--white);
  --fontColor: var(--black);
  --bttnBg: var(--white);
  --bttnFontColor: var(--black);
  --colAqua: var(--lightaquamarine);
}

.theme-dark {
  --bg: var(--black);
  --fontColor: var(--green);
  --bttnBg: var(--black);
  --bttnFontColor: var(--white);
  --colAqua: var(--darkaquamarine);
}

.bttn {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  color: var(--bttnFontColor);
  background-color: var(--bttnBg);
}

.bttn:focus {
  outline-style: none;
}