<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0" name="viewport">
  <title>Michael Newton Portfolio</title>
  <link rel="stylesheet" href="../../../css/main.css">

  <noscript>Please enable JavaScript to view the site in full :).</noscript>

</head>

<body class="theme-light" width="device-width">

  <header>
    <div class="wrap">
      <nav>
        <div><button class="bttn">Dark</button></div>
        <div><a href="/">Home</a></div>
        <div><a href="/Views/Pages/contactMe.html">Contact</a></div>
      </nav>
    </div>
  </header>

  <h1 class="sectionHeaders">A Simple Band Name Generator!</h1>

  <div id="projectContainer">
    <div id="projectBlock">
      <div id="headerItem">
      </div>
        <div id="imageBlock">
          <img src="../../../Assets/Images/Band_Name_Generator_Example_1.png"></a>
        </div>
    </div>

    <div id="projectBlock">
      <div id="headerItem">
      </div>
        <div id="imageBlock">
        <img src="../../../Assets/Images/Band_Name_Generator_Example_2.png"></a>
        </div>
    </div>

    <div id="projectBlock">
      <div id="headerItem">
      </div>
        <div id="imageBlock">
          <img src="../../../Assets/Images/Band_Name_Generator_Example_3.png">
        </div>
    </div>
    </div>

    <div id="textContainer">
      <div id="textItem">
  <p>A simple band name generator</p>
      </div>
      <div id="textItem">
  <p>Created using vanilla HTML, CSS and JavaScript</p>
      </div>
    <div id="textItem">
  <p>Click the Refresh button to generate a new name!</p>
    </div>
  <a href="https://bluehammy.github.io/BandNameGen/" ;>
    <div id="textItem">
    <strong><p style="text-align: center;">Try It Here!</p></strong>
    </div>
  </a>
    </div>

  <script src="BNG.js"></script>
</body>

</html>