<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">
    <title>Michael Newton Portfolio</title>
    <link rel="stylesheet" href="Views/Projects/ProjectSonar/PS.css">
 
    <noscript>Please enable JavaScript to view the site in full :).</noscript>

</head>
<body class="theme-light" width = "device-width">

      <h1 class="sectionHeaders">Project: Sonar!</h1>

      <div id="projectBlock">
      <h2 class="headerBlock">Project: Sonar!</p>
        <div id="imageBlock">
        <img src="Assets/Images/Project_Sonar.png"; width="200px"; height="210px">
      </div>
      </div>

  <div>
  <button class="bttn">Dark</button>
  </div>

  <script src="Views/Projects/ProjectSonar/PS.jss"></script>
</body>
</html>